---
layout: base
---
.row
  .col-md-12
    .jumbotron
      %img.hidden-xs{ :style=>"float:right; margin-left:20px;", :src=>"#{site.base_url}/images/logo.png"}
      %h1 Agorava
      %p The Social Framework
.row
  .col-md-4
    %h2 Repos & Status
    %ul.well.nav.nav-list
      %li.nav-header Build Status & Repositories
      %li
        %p
          %a{ :href=>"https://agorava.ci.cloudbees.com/job/Agorava-parent-CI/"}
            %img{ :src=>"https://agorava.ci.cloudbees.com/buildStatus/icon?job=Agorava-parent-CI"}
          %a{ :href=>"https://github.com/agorava/agorava-parent"} agorava-parent
      %li
        %p
          %a{ :href=>"https://agorava.ci.cloudbees.com/job/Agorava-core-CI/"}
            %img{ :src=>"https://agorava.ci.cloudbees.com/buildStatus/icon?job=Agorava-core-CI"}
          %a{ :href=>"https://github.com/agorava/agorava-core"} agorava-core
      %li
        %p
          %a{ :href=>"https://agorava.ci.cloudbees.com/job/Agorava-twitter-CI/"}
            %img{ :src=>"https://agorava.ci.cloudbees.com/buildStatus/icon?job=Agorava-twitter-CI"}
          %a{ :href=>"https://github.com/agorava/agorava-twitter"} agorava-twitter
      %li
        %p
          %a{ :href=>"https://agorava.ci.cloudbees.com/job/Agorava-facebook-CI/"}
            %img{ :src=>"https://agorava.ci.cloudbees.com/buildStatus/icon?job=Agorava-facebook-CI"}
          %a{ :href=>"https://github.com/agorava/agorava-facebook"} agorava-facebook
      %li
        %p
          %a{ :href=>"https://agorava.ci.cloudbees.com/job/Agorava-linkedin-CI/"}
            %img{ :src=>"https://agorava.ci.cloudbees.com/buildStatus/icon?job=Agorava-linkedin-CI"}
          %a{ :href=>"https://github.com/agorava/agorava-linkedin"} agorava-linkedin
      %li
        %p
          %a{ :href=>"https://agorava.ci.cloudbees.com/job/Agorava-socializer-CI/"}
            %img{ :src=>"https://agorava.ci.cloudbees.com/buildStatus/icon?job=Agorava-socializer-CI"}
          %a{ :href=>"https://github.com/agorava/agorava-socializer"} agorava-socializer
    %p
    %p
    %p
      %a.btn{ :href=>"http://socializer.agorava.cloudbees.net/" } Demo &raquo;
      %a.btn{ :href=>"https://issues.jboss.org/browse/AGOVA" } JIRA &raquo;
      %a.btn{ :href=>"https://agorava.ci.cloudbees.com/" } Jenkins &raquo;
    %a.twitter-follow-button{:href=>"https://twitter.com/AgoravaProj", :data=>{"show-count"=>"false", :size=>"large"}} Follow us on Twitter
    %p
  .col-md-8
    %h2 News
    .well.last-posts
      %ul.nav.nav-list
        - for post in site.posts[0,5]
          %li
            %h4
              %a{:href=>post.url} #{post.title}
            Posted on 
            %span.date= post.date.strftime( '%b %d, %Y' )
          %li.divider
      %a.btn{:href=>"#{site.base_url}/news/"} Read more
      = partial( 'subscribe.html.haml' )

    :javascript
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    %script{ :type=>'text/javascript', :src=>'http://twitter.com/javascripts/blogger.js' }
    %script{ :type=>'text/javascript', :src=>'http://api.twitter.com/1/statuses/user_timeline.json?screen_name=AgoravaProj&count=5&include_rts=true&callback=twitterCallback2' }