---
layout: base
title: "Sponsors"
---
.sponsors
  .row
    .span4
      %a{ :href => "http://jboss.org" }
        %img{ :src => "#{site.base_url}/images/sponsors/jboss.png" }
      
    .span4
      %a{ :href => "http://cloudbees.com" }
        %img{ :src => "#{site.base_url}/images/sponsors/cloudbees.png" }
        
    .span4
      %a{ :href => "http://ippon.fr" }
        %img{ :src => "#{site.base_url}/images/sponsors/ippon.png" }
        
  .row
    .span4
      %a{ :href => "http://jetbrains.com" }
        %img{ :src => "#{site.base_url}/images/sponsors/jetbrains.png" }
        
    .span8
      %a{ :href => "http://zeroturnaround.com/" }
        %img{ :src => "#{site.base_url}/images/sponsors/zeroturnaround.jpg" }
            