---
---
.post
  - if page.alone
    %ul.pager.visible-desktop{:style=>"float:right;"}
      - if page.post.next_post
        %li
          %a{:href=>page.post.next_post.url} Previous
      - if page.post.previous_post
        %li
          %a{:href=>page.post.previous_post.url} Next

  %h2
    %a{:href=>page.post.url}
      = page.post.title
  .meta
    %strong
      Posted by 
      %span.authors= ' '.concat(page.post.authors.map{|u| site.identities.method_missing(u).firstName+' '+site.identities.method_missing(u).lastName} * ', ')
      on 
      %span.date= page.post.date.strftime( '%b %d, %Y' )
      - if site.disqus
        | 
        = page.post.disqus_comments_link
    
  .content
    ~ page.post.content
  .footer
    %a{:href=>page.post.url} Permalink
    | 
    - if site.disqus
      = page.post.disqus_comments_link
      | 
    - if page.post.tags
      %span.tags
        %i.icon-tags
        Tags :
        - for tag in page.post.tags
          - unless tag.nil?
            %a.tag{:href=>tag.primary_page.url}= tag
  - if page.alone
    .comments
      = page.post.disqus_comments