!!!5
%html
  %head
    %meta{ :charset=>'utf-8' }
    %title Agorava Project
    %meta{ :name=>'viewport', :content=>'width=device-width, initial-scale=1.0' }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>"#{site.base_url}/stylesheets/styles.css" }
    :css
      body {
        padding-top: 80px;
      }
    /[if lt IE 9]
      %script{ :type=>'text/javascript', :src=>'//html5shim.googlecode.com/svn/trunk/html5.js' }
    %script{ :type=>'text/javascript', :src=>'//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js' }
    %script{ :type=>'text/javascript', :src=>"#{site.base_url}/javascripts/bootstrap/collapse.js" }
    %script{ :type=>'text/javascript', :src=>"#{site.base_url}/javascripts/bootstrap/dropdown.js" }

  %body
    %nav.navbar.navbar-default.navbar-fixed-top{:role=>'navigation'}
      .navbar-header
        .github-banner
          %a{:href=>'https://github.com/agorava'}
            %img{:style=>'position: absolute; top: 0; right: 0; border: 0;z-index: 900;', :src=>'https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png', :alt=>'Fork me on GitHub'}
        %a.btn.navbar-toggle{"data-toggle"=>"collapse", "data-target"=>".navbar-collapse"}
          %span.sr-only
            Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{ :href=>"#{site.base_url}" } Agorava
      .navbar-collapse.collaspe
        %ul.nav.navbar-nav
          %li
            %a{ :href=>"#{site.base_url}/" } Home
          %li
          %li
            %a{ :href=>"#{site.base_url}/news/" } Blog
          %li.dropdown
            %a.dropdown-toggle{"data-toggle"=>"dropdown", :href=>"#"}
              Documentation
              %b.caret
            %ul.dropdown-menu
              %li
                %a{:href=>"#{site.base_url}/doc/getting-started" } Getting Started
              %li
                %a{:href=>"#{site.base_url}/doc/modules" } Modules
              %li
                %a{:href=>"#{site.base_url}/doc/apidocs070", :target=>"_BLANK" } API/SPI Javadoc
          %li
            %a{ :href=>"#{site.base_url}/community/"} Community
          %li
            %a{ :href=>"#{site.base_url}/contributing/"} Contribute
          %li
            %a{ :href=>"https://github.com/agorava", :target=>"_BLANK"} Source code
          %li
            %a{ :href=>"#{site.base_url}/calendar/" } Calendar

      :javascript
        var indexOfSharp = window.location.pathname.indexOf('#');
        var pathname = indexOfSharp > 0 ? window.location.pathname.substring(0, indexOfSharp) : window.location.pathname;
        var selector = "body > .navbar > .navbar-collapse a[href='#{site.base_url}"+pathname+"']";
        $(selector).closest("li").addClass("active");

    .container
      ~ content
      %hr
      %footer
        %p &copy; Agorava #{Date.today.year}

    = google_analytics_universal
